[Desktop Entry]
  Type=Application
  Version=2026.5.0
  Name=Bitwarden
  Comment=Bitwarden startup script
  Exec=bitwarden-desktop --autostart
  StartupNotify=false
  Terminal=false